<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Register Page</h1>

    <form action="/register" method="post">
        <div class="label-input">
            <label for="register-firstname">First name</label>
            <input id="register-firstname" type="text" name="first_name" placeholder="John" value="<%= formData && formData.first_name ? formData.first_name : '' %>">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                    <% if (error.path === 'first_name') { %>
                        <p class="error"><%= error.msg %></p>
                    <% } %>
                <% }) %>
            <% } %>
        </div>

        <div class="label-input">
            <label for="register-lastname">Last name</label>
            <input id="register-lastname" type="text" name="last_name" placeholder="Doe" value="<%= formData && formData.last_name ? formData.last_name : '' %>">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                    <% if (error.path === 'last_name') { %>
                        <p class="error"><%= error.msg %></p>
                    <% } %>
                <% }) %>
            <% } %>
        </div>

        <div class="label-input">
            <label for="register-username">Username</label>
            <input id="register-username" type="text" name="username" placeholder="johndoe" value="<%= formData && formData.username ? formData.username : '' %>">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                    <% if (error.path === 'username') { %>
                        <p class="error"><%= error.msg %></p>
                    <% } %>
                <% }) %>
            <% } %>
        </div>

        <div class="label-input">
            <label for="register-password">Password</label>
            <input id="register-password" type="password" name="password" value="<%= formData && formData.password ? formData.password : '' %>">
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                    <% if (error.path === 'password') { %>
                        <p class="error"><%= error.msg %></p>
                    <% } %>
                <% }) %>
            <% } %>
        </div>

        <div class="label-input">
            <label for="repeat-password">Repeat password</label>
            <input id="repeat-password" type="password" name="repeatPassword" value="<%= formData && formData.repeatPassword ? formData.repeatPassword : '' %>"> 
            <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
                <% errors.forEach(error => { %>
                    <% if (error.path === 'repeatPassword') { %>
                        <p class="error"><%= error.msg %></p>
                    <% } %>
                <% }) %>
            <% } %>
        </div>

        <button type="submit">Register</button>
    </form>

    <p><a href="/login">Back to login</a></p>
</body>
</html>
